*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}


button{
    border: none;
    cursor: pointer;
    transition: .4s;
}

#header{
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 23px 0;
    background: #E5E5E5;
    -webkit-box-shadow: 0 7px 9px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 7px 9px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 0 7px 9px 0 rgba(34, 60, 80, 0.2);

}

.header img{
    padding-right: 16px;
}

.header-nav a{
    font-weight: 600;
    font-size: 16px;
    color: #22343D;
    padding-right: 24px;
}

.header-nav a:hover{
    transform: scale(1.1);
    color: blue;
    transition: .3s;
}

.header button{
    font-weight: 600;
    font-size: 16px;
    color: #173A56;

    box-sizing: border-box;
    border: 1px solid #BCD0E5;
    border-radius: 4px;

    height: 43px;
    width: 102px;
    margin-right: 24px;
}

.header button:hover{
    background: red;
    transform: scale(1.1);
}

.header-btn button{
    background: #02897A;
}

.header-btn img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /*position: fixed;*/
    /*top: 0;*/
    /*z-index: 100;*/
    animation: header 2s alternate;
}

@keyframes header {
    0%{
        transform: translateY(-500px);
    }
}



.header-nav{
    padding-left: 237px;
}

.rejim{
    transition: .3s;
}

.rejim:hover{
    transform: scale(1.5);
}

/*WORK*/

#work{
    padding: 20px 0 60px 0;
    background: #E5E5E5;
}

.work-general h1{
    width: 518px;
    font-weight: 700;
    font-size: 40px;
}
.work-general p{
    width: 458px;
    font-weight: 400;
    font-size: 18px;
    color: #22343D;
    padding: 18px 0 45px 0;
}

.work-nav button{
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    width: 175px;
    height: 53px;
    background: #02897A;
    border-radius: 4px;
    margin-right: 31px;
}

.work-nav button:hover{
    background: #733bd8;
    transform: scale(1.1);
}

.work-nav ion-icon{
    color: #02897A;
}

.work-nav a{
    font-weight: 600;
    font-size: 16px;
    text-decoration-line: underline;
    color: #02897A;
}

/*.work-nav:hover{*/
/*    background: #733bd8;*/
/*    transform: scale(1.1);*/
/*}*/

.work{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
}

/*PRODUCT*/

#product{
    padding: 50px 0;
    background: #E5E5E5;
    /*background: linear-gradient(179.59deg, #EDEDED 0.35%, rgba(255, 255, 255, 0.0001) 99.63%);*/
    /*transform: rotate(180deg);*/
    border-bottom-right-radius: 40%;
    border-bottom-left-radius: 40%;
}

.product h1{
    margin: 0 auto;
    width: 530px;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343D;
    padding-bottom: 58px;
}

.product-block h2{
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #22343D;
    padding: 30px 0 13px 0;
}

.product-block p{
    width: 240px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}

.product button{
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;

    width: 175px;
    height: 53px;
    background: #02897A;
    border-radius: 4px;
    margin: 60px 510px;
}

.product button:hover{
    background: #733bd8;
    transform: scale(1.1);
}

.product-blocks{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product{
    /*border-bottom: 1px solid;*/
}

/*MANAGEMENT*/

#management{
    background: #FFFFFF;
    padding: 150px 0;
}

.management-text h5{
    font-weight: 600;
    font-size: 16px;
    color: #22343D;
}

.management-text h3{
    font-weight: 700;
    font-size: 32px;
    color: #22343D;
    padding: 8px 0 23px 0;
}

.management-text p{
    width: 486px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}

.management-text h4{
    font-weight: 600;
    font-size: 16px;
    color: #22343D;
    padding: 30px 0 12px 0;
}

.management{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*CUSTOMER*/

#customer{
    background: #FFFFFF;
    padding: 100px 0;
}

.customer-general h5{
    font-weight: 600;
    font-size: 16px;
    color: #22343D;
}

.customer-general h2{
    font-weight: 700;
    font-size: 32px;
    color: #22343D;
    padding: 8px 0 23px 0;
}

.customer-general p{
    width: 486px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}

.customer-block h6{
    width: 365px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
    padding-left: 30px;
}

.customer-block{
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.customer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*COLLAB*/

#collab{
    padding: 100px 0;
    background: #FFFFFF;
}

.collab-text h4{
    font-weight: 600;
    font-size: 16px;
    color: #22343D;
}

.collab-text h2{
    font-weight: 700;
    font-size: 32px;
    color: #22343D;
    padding: 8px 0 23px 0;
}

.collab-text p{
    width: 486px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.collab-text h5{
    font-weight: 600;
    font-size: 16px;
    color: #22343D;
    padding: 30px 0 12px 0;
}

.collab{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*QUICK*/

#quick{
    padding: 52px 0;
    background: #E5E5E5;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
}

.quick h1{
    width: 348px;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343D;
    margin: 0 auto;
}

.quick p{
    width: 542px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #22343D;
    margin: 0 auto;
    padding: 16px 0;
}

.quick-general h2{
    font-weight: 500;
    font-size: 16px;
    color: #2F281E;
}

.quick-block{
    display: flex;
    align-items: center;
    position: relative;
}

.oval{
    position: absolute;
    background: #FFFFFF;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    left: 140px;
    bottom: 29px;
}

.oval-two{
    position: absolute;
    background: #FFFFFF;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    left: 200px;
    bottom: 29px;
}

.quick-box{
    padding: 15px 24px;
    background: #FFFFFF;
    border-radius: 26px;
    box-shadow: 0 2px 15px rgba(23, 58, 86, 0.1);
    margin: 38px 12px;
}

.quick-general{
    display: flex;
    justify-content: space-around;
}

.quick button{
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;

    background: #02897A;
    border-radius: 4px;
    padding: 15px 30px;
    margin: 48px 0 0 510px;
}

.quick button:hover{
    background: #733bd8;
    transform: scale(1.1);
}

/*SLIDER*/

#slider{
    padding: 80px 0;
    background: #E5E5E5;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.slider h1{
    font-weight: 700;
    font-size: 34px;
    color: #22343D;
}

.slider p{
    font-weight: 500;
    font-size: 16px;
    color: #22343D;
    padding: 8px 0 33px 0;
}

.swiper-slide h4{
    width: 235px;
    font-weight: 400;
    font-size: 16px;
    color: #22343D;
    padding: 24px 0 12px 24px;
}



.swiper-slide h4 span{
    font-weight: 700;
}

.swiper-slide h3{
    width: 294px;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #22343D;
    padding-left: 24px;
}

.swiper-slide{
    border: 1px solid grey;
    background: #E5E5E5;
    border-radius: 8px;
    width: 348px;
    height: 359px;
    transition: .4s;
    /*position: relative;*/
}

.swiper-slide:hover > .swiper-slide-text{
    color: #02897A;
}

/*SLIDER*/



/*price*/

#price{
    padding: 50px 0;
    background: #E5E5E5;
}

.price h1{
    width: 192px;
    font-weight: 700;
    font-size: 34px;
    color: #22343D;
    margin: 0 auto;
}

.price p{
    width: 213px;
    font-weight: 500;
    font-size: 16px;
    color: #22343D;
    margin: 0 auto;
    padding: 8px 0 50px 0;
}

.price-block h3{
    font-weight: 700;
    font-size: 24px;
    color: #22343D;
    margin: 0 auto;
    padding: 24px 0 8px 0;
    text-align: center;
}

.price-block h6{
    font-weight: 400;
    font-size: 16px;
    color: #22343D;
}

.price-nav h2{
    font-weight: 700;
    font-size: 76px;
    color: #02897A;
    margin-right: 8px;
}

.price-nav{
    display: flex;
    align-items: center;
}

.price-dollar h4{
    font-weight: 700;
    font-size: 24px;
    color: #02897A;
}

.price-dollar ul{
    font-weight: 400;
    font-size: 16px;
    color: #AFAFAF;
}

.price-block h5{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #22343D;
    padding-bottom: 16px;
}

.price-block button{
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    width: 139px;
    height: 44px;
    background: #02897A;
    border-radius: 8px;
    margin: 32px 0;
}

.price-block button:hover{
    background: #733bd8;
    transform: scale(1.1);
}

.price-block{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    width: 322px;
    height: 456px;
    -webkit-box-shadow: 0 5px 12px 1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 12px 1px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 12px 1px rgba(34, 60, 80, 0.2);
    transition: .5s;
}

.price-block:hover{
    background: #028879;
    color: white;
    -webkit-box-shadow: 0 0 11px 21px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 0 11px 21px rgba(0, 0, 0, 0.26);
    box-shadow: 0 0 11px 21px rgba(0, 0, 0, 0.26);
}

.price-block:hover > h3{
    color: #FFFFFF;
}

.price-block:hover > h6{
    color: #FFFFFF;
}

.price-block:hover > .price-nav h2{
    color: #FFFFFF;
}

.price-block:hover > .price-nav h4{
    color: #FFFFFF;
}

.price-block:hover > button{
    background: #FFFFFF;
    color: #02897A;
}

.price-block:hover > h5{
    color: #FFFFFF;
}


.price-general{
    display: flex;align-items: center;
    justify-content: space-between;
}



/*What*/

#what{
    padding: 100px 0;
    background: #E5E5E5;
}

.what h1{
    width: 302px;
    font-weight: 700;
    font-size: 34px;
    color: #22343D;
    margin: 0 auto;
}

.what p{
    width: 537px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #22343D;
    margin: 8px auto 50px auto;
    text-align: center;
}

.what-block h6{
    width: 275px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #737373;
    margin: 18px 0;
}

.what-nav{
    display: flex;
}

.what-des h5{
    font-weight: 600;
    font-size: 16px;
    color: #02897A;
}

.what-des h6{
    font-weight: 500;
    font-size: 14px;
    color: #252B42;
    margin: 0;
}

.what-nav img{
    padding: 16px 14px 23px 0;
}

.what-nav{
    display: flex;
    align-items: center;
}

.what-block{
    width: 327px;
    height: 236px;
    border: 1px solid #d3d1d1;
    border-radius: 5px;
    padding: 28px 26px 25px 26px;
}

.what-block:hover{
    -webkit-box-shadow: 0 1px 12px 13px rgba(2, 1, 2, 0.09);
    -moz-box-shadow: 0 1px 12px 13px rgba(2, 1, 2, 0.09);
    box-shadow: 0 1px 12px 13px rgba(2, 1, 2, 0.09);
}

.what-general{
    display: flex;
    justify-content: space-between;
}

.what-join{
    width: 968px;
    height: 300px;
    background: #02897A;
    border-radius: 32px;
    padding: 50px 51px;
    margin: 150px auto 0 auto;
    position: relative;
}

.what-join h2{
    width: 510px;
    font-weight: 600;
    font-size: 32px;
    color: #FFFFFF;
}

.what-join button{
    font-weight: 600;
    font-size: 20px;
    color: #02897A;
    width: 150px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-top: 90px;
}

.what-join button:hover{
    background: red;
    color: white;
    transform: scale(1.1);
}

.what-join img{
    position: absolute;
    top: 20px;
    right: 36px;
}

/*FOOTER*/

#footer{
    padding: 50px 0;
    background: #E5E5E5;
}

.footer-logo img{
    padding-right: 16px;
}

.footer-ion{
    width: 40px;
    height: 40px;
    background: #ebfdfa;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 28px 16px 0 0;
}

.footer-icons ion-icon{
    color: #035B81;
    padding-top: 5px;
}

.footer-icons ion-icon:hover{

}

.footer-icons{
    display: flex;
}

.footer-ion:hover{
    transform: scale(2);
    transition: .4s;
}

.footer-text h3{
    padding-bottom: 8px;
}

.footer-general h3{
    width: 280px;
    font-weight: 500;
    font-size: 20px;
    color: #22343D;
}

.footer-text a{
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #22343D;
}

.footer-text a:hover{
    transform: scale(1.1);
    color: blue;
    transition: .3s;
}

.footer-text{
    display: flex;
    flex-direction: column;
}

.footer-nav{
    display: flex;
    flex-direction: column;
}

.input{
    width: 325px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    /*padding: 10px 28px 10px 15px;*/
    margin: 34px 0 21px 0;
}

.input input{
    margin: 12px 128px 10px 15px;
    color: #BCD0E5;
}

.footer-nav button{
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    width: 131px;
    height: 39px;
    background: #02897A;
    border-radius: 4px;
}

.footer-nav button:hover{
    background: #733bd8;
    color: white;
    transform: scale(1.1);
}

.footer-footer{
    display: flex;
    justify-content: space-between;
}

.footer h2{
    width: 394px;
    font-weight: 400;
    font-size: 16px;
    color: #22343D;
    margin: 30px auto 0 auto;
}



